# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.idea
.vscode/

# Dependency directories
node_modules/
yarn.lock

# build / generate output
dist

# dotenv environment variables file
.env.development
.env.production
.env.test